{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<section class="about-us-hero">
    <div class="container about-us-hero">
        <h1>About Us</h1>
        <p class="about-us_text">Meet the StaDry Team!</p>
    </div>
</section>
<section class="team">
    <div class="container">
        <h2 class="section-title">Our Team</h2>
        {% if restoration_team_members %}
        <div class="team-grid">
            {% for member in restoration_team_members %}
            <div class="team-card">
                <img class="team_member-pic" src="{{ member.image.url }}" alt="Profile Picture">
                <h3>{{ member.team_member }}</h3>
                <p>{{ member.occupation }}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}