{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<section class="page-hero">
    <div class="container page-hero_inner">
        <h1>Our Blog Page</h1>
        <p class="page_text">Our expert restoration advice from StaDry Team.</p>
    </div>
</section>
<section>
    <div class="container">
        <h2 class="section-title">Our Blogs</h2>

        <!---------- Filter Bar for the Blogs ---------->
        <nav class="filter-bar" aria-label="Filter blogs by service">
            <a href="{% url 'blog_list' %}" class="filter-button{% if not active_service %} active {% endif %}">All</a>
            {% for service in restoration_services %}
            <a href="{% url 'blog_list' %}?service={{ service.slug }}"
                class="filter-button{% if active_service == service.slug %} active {% endif %}"
                aria-pressed="{% if active_service == service.slug %}true{% else %}false{% endif %}">
            {{ service.name }}
            </a>
            {% endfor %}
        </nav>

        <!---------- Displays the blogs ---------->
        <div class="blog-grid">
            {% for restoration_post in restoration_posts %}
            <article class="blog-card">
                <div class="blog-card__inner">
                    {% if restoration_post.related_service %}
                    <span class="blog-card_tag">{{ restoration_post.related_service.name }}</span>
                    {% endif %}
                    <h2 itemprop="blog-card_headline">
                        <a href="{{ restoration_post.get_absolute_url }}">
                            {{ restoration_post.title }}
                        </a>
                    </h2>
                    <p item="blog-card_desc">{{ restoration_post.excerpt }}</p>
                    <footer class="blog-card_meta">
                        <span itemprop="author">{{ restoration_post.author }}</span>
                        {% if restoration_post.published_at %}
                        <time itemprop="datePublished" datetime="{{ post.published_at | date:'c'}}">{{ post.published_at|date:"M j, Y" }}</time>
                        {% endif %}
                    </footer>
                    <a href="{{ restoration_post.get_absolute_url }}" class="btn read__button" aria-label="Read {{ post.title }}">Read Article</a>
                </div>
            </article>
            {% empty %}
            <p class="empty-state">No blogs available. Come back later!</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}