{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<section class="page-hero">
    <div class="container page-hero_inner">
        <h1>Our Blog Page</h1>
        <p class="page_text">Our expert restoration advice from StaDry Team.</p>
    </div>
</section>
<section>
    <div class="container">
        <h2 class="section-title">Our Blogs</h2>

        <!---------- Filter Bar for the Blogs ---------->
        <nav class="filter-bar" aria-label="Filter blogs by service">
            <a href="{% url 'blog_list' %}" class="filter-button{% if not active_service %}active{% endif %}">All</a>
            {% for service in restoration_services %}
            <a href="{% url 'blog_list' %}?service={{ service.slug }}"
                class="filter-button{% if active_service == service.slug %} active {% endif %}"
                aria-pressed="{% if active_service == service.slug %}true{% else %}false{% endif %}">
            {{ service.name }}
            </a>
            {% endfor %}
        </nav>

        <!---------- Displays the blogs ---------->
    </div>
</section>
{% endblock %}