{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<section class="page-hero">
    <div class="container page-hero_inner">
        <h1>Contact Us</h1>
        <p class="page_text">Get a free estimate for your restoration needs -- we are honest, ethical, and local!
        </p>
    </div>
</section>
<section>
    <div class="container two-col">
        <div class="two-col">
            <h2 class="section-title">Reach Out Today!</h2>
            <!-- SCRIPT -->
            
            <form method="POST" action="{% url 'contact' %}" novalidate aria-label="Contact form" id="contact-app">
                {% csrf_token %}
                
            </form>

        </div>
    </div>
</section>
{% endblock %}