{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<section class="page-hero">
    <div class="container page-hero_inner">
        <h1>Contact Us</h1>
        <p class="page_text">Get a free estimate for your restoration needs -- we are honest, ethical, and local!
        </p>
    </div>
</section>

<section>
    <div class="container two-col">
        <div class="two-col">
            <h2 class="section-title">Reach Out Today!</h2>
            <!-- SCRIPT -->
            
            <form method="POST" action="{% url 'contact' %}" novalidate aria-label="Contact form" id="contact-app">
                
                {# Shows the success message #}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                
                {% csrf_token %}

                {# Add the fields #}
                {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}
                        {% if field.field.required %}<span class="required" aria-label="required">*</span>{% endif %}
                    </label>
                    {{ field }}
                    
                    {# Shows errors under each field #}
                    {% if field.errors %}
                    <ul class="alert alert-danger" role="alert">
                        {{ field.errors }}
                    </ul>
                    {% endif %}
                </div>
                {% endfor %}

                <button type="submit" class="btn btn--primary btn--lg">Submit Message</button>
            </form>

        </div>
    </div>
</section>
{% endblock %}